@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply no-underline
}

/* https://shadows.brumm.af/ */
.custom-box-shadow {
    box-shadow:
    0px 1.5px 7.1px rgba(0, 0, 0, 0.2),
    0px 2.7px 12.8px rgba(0, 0, 0, 0.158),
    0px 3.6px 17.1px rgba(0, 0, 0, 0.138),
    0px 4.4px 20.3px rgba(0, 0, 0, 0.123),
    0px 5px 22.9px rgba(0, 0, 0, 0.111),
    0px 5.7px 26px rgba(0, 0, 0, 0.1),
    0px 6.9px 31.6px rgba(0, 0, 0, 0.089),
    0px 8.9px 41.7px rgba(0, 0, 0, 0.077),
    0px 12.4px 57.8px rgba(0, 0, 0, 0.062),
    0px 18px 80px rgba(0, 0, 0, 0.042);  
}

.nav-item {
    @apply px-2 py-1 
    flex flex-grow items-center justify-center
    text-secondary-200 
    hover:text-primary-200 hover:bg-primary-700
    transition-all duration-300 ease-linear
    cursor-pointer
}

.nav-icon {
    @apply w-6 h-6 fill-current
}

.project-tile {
    @apply p-2 border-2 bg-secondary-500 text-primary-200 rounded-lg
}

.link-item {
    @apply flex items-center
    p-2 m-2
    border-2 hover:rounded-lg rounded-3xl
    bg-secondary-700
    hover:text-primary-700 hover:bg-secondary-300
    transition-all duration-300 ease-linear
}

.link-bar {
    @apply
    before:flex before:flex-grow before:h-[2px] before:border-[1px] before:rounded-full
    after:flex after:flex-grow after:h-[2px] after:border-[1px] after:rounded-full
}