@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mocha-crust: #161320;
  --color-mocha-mantle: #1e1e2e;
  --color-mocha-base: #181825;
  --color-mocha-surface0: #313244;
  --color-mocha-surface1: #45475a;
  --color-mocha-surface2: #585b70;
  --color-mocha-overlay0: #6c7086;
  --color-mocha-overlay1: #7f849c;
  --color-mocha-overlay2: #9399b2;
  --color-mocha-subtext0: #a6adc8;
  --color-mocha-subtext1: #bac2de;
  --color-mocha-text: #cdd6f4;
  --color-mocha-lavender: #b4befe;
  --color-mocha-blue: #89b4fa;
  --color-mocha-sapphire: #74c7ec;
  --color-mocha-sky: #89dceb;
  --color-mocha-teal: #94e2d5;
  --color-mocha-green: #a6e3a1;
  --color-mocha-yellow: #f9e2af;
  --color-mocha-peach: #fab387;
  --color-mocha-maroon: #eba0ac;
  --color-mocha-red: #f38ba8;
  --color-mocha-pink: #f5c2e7;
  --color-mocha-mauve: #cba6f7;

  --color-latte-crust: #dce0e8;
  --color-latte-mantle: #e6e9ef;
  --color-latte-base: #eff1f5;
  --color-latte-surface0: #f2f5f9;
  --color-latte-surface1: #f5f7fa;
  --color-latte-surface2: #f8fafc;
  --color-latte-overlay0: #e0e6ed;
  --color-latte-overlay1: #d7dce3;
  --color-latte-overlay2: #cdd1d8;
  --color-latte-subtext0: #a5adba;
  --color-latte-subtext1: #9ca3b0;
  --color-latte-text: #4c4f69;
  --color-latte-lavender: #7287fd;
  --color-latte-blue: #1e66f5;
  --color-latte-sapphire: #209fb5;
  --color-latte-sky: #04a5e5;
  --color-latte-teal: #179299;
  --color-latte-green: #40a02b;
  --color-latte-yellow: #df8e1d;
  --color-latte-peach: #fe640b;
  --color-latte-maroon: #e64553;
  --color-latte-red: #d20f39;
  --color-latte-pink: #ea76cb;
  --color-latte-mauve: #8839ef;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 50 950;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 50 950;
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}

body {
  @apply bg-latte-base dark:bg-mocha-base text-latte-text dark:text-mocha-text;
}

a,
a:visited {
  @apply text-latte-blue dark:text-mocha-blue;
}

a:hover {
  @apply font-bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100dvh;
}

.main {
  @apply flex flex-col items-center justify-center mx-auto p-4 max-w-6xl;
}

/* .main section {
  @apply bg-latte-mantle dark:bg-mocha-mantle;
  @apply border-latte-peach dark:border-mocha-peach;
  @apply border-2 rounded-xl;
  @apply w-full p-2 m-2;
} */

#about {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  @apply bg-latte-mantle dark:bg-mocha-mantle;
  @apply border-latte-mantle dark:border-mocha-mantle;
  @apply border-2 rounded-xl;
  @apply w-full m-2 gap-2 overflow-hidden;
}

#experience {
  @apply grid grid-cols-1 gap-2;
}

#experience .position {
  @apply bg-latte-mantle dark:bg-mocha-mantle;
  @apply border-latte-mantle dark:border-mocha-mantle;
  @apply border-2 rounded-xl;
  @apply w-full overflow-hidden;
}

#projects {
  @apply grid grid-cols-1 md:grid-cols-2 gap-2;
}

#projects .project {
  @apply bg-latte-mantle dark:bg-mocha-mantle;
  @apply border-latte-mantle dark:border-mocha-mantle;
  @apply border-2 rounded-xl;
  @apply w-full overflow-hidden;
}

#links {
  @apply bg-latte-mantle dark:bg-mocha-mantle p-2 rounded-xl;
}

#footer,
#nav {
  @apply flex flex-row justify-center w-full;
  @apply bg-latte-crust dark:bg-mocha-crust;
}

#footer {
  @apply p-2;
  @apply text-latte-peach dark:text-mocha-peach;
  @apply border-t-2 border-latte-peach dark:border-mocha-peach mt-2;
}

#nav-toggle {
  @apply w-8 h-8 p-2 m-2;
  @apply flex flex-col items-center justify-center md:hidden;
  @apply border-latte-blue dark:border-mocha-blue rounded-full border-2;
  @apply hover:border-latte-peach dark:hover:border-mocha-peach;
  @apply text-latte-blue dark:text-mocha-blue fill-current;
  @apply hover:text-latte-peach dark:hover:text-mocha-peach;
  @apply transition-all duration-200 ease-linear;
  @apply cursor-pointer;
}

.nav-item {
  @apply flex flex-row items-center px-2;
  @apply bg-latte-crust dark:bg-mocha-crust;
  @apply hover:bg-latte-mantle dark:hover:bg-mocha-mantle;
  @apply text-latte-blue dark:text-mocha-blue fill-current;
  @apply hover:text-latte-peach dark:hover:text-mocha-peach hover:font-extrabold;
  @apply w-full flex flex-row items-center justify-center;
  @apply transition-all duration-200 ease-linear;
}

.nav-item a {
  @apply p-2;
  @apply grid grid-cols-2 justify-items-end items-center;
  @apply md:flex;
  @apply text-inherit;
}

.nav-item a svg,
.nav-item a span {
  @apply mx-1;
}

.link-item {
  @apply flex items-center
    p-1 m-1 border-[1px] md:border-2 md:p-2 md:m-2
    hover:rounded-xl rounded-3xl
    border-latte-blue dark:border-mocha-blue
    hover:bg-latte-blue dark:hover:bg-mocha-blue
    hover:text-latte-base dark:hover:text-mocha-base
    transition-all duration-300 ease-linear;
}

svg {
  @apply fill-current w-4 h-4 md:w-6 md:h-6;
}

.link-bar {
  @apply container flex grow mx-auto justify-center items-center mt-2;
  @apply text-xs md:text-base
    before:flex before:grow before:h-[2px] before:border-[1px] before:rounded-full
    after:flex after:grow after:h-[2px] after:border-[1px] after:rounded-full;
}

.link-bar,
.link-bar:before,
.link-bar:after {
  @apply border-latte-blue dark:border-mocha-blue;
}
